@import "tailwindcss";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@theme {
  --color-primary: #50C878;
  --color-primary-dark: #2E7D32;

  --color-background: #F5F7F9;
  --color-surface: #FFFFFF;

  --color-text: #111827;
  --color-text-muted: #6B7280;

  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --radius-card: 1.5rem;
  --radius-button: 1rem;

  --shadow-card: 0 10px 30px rgba(15,23,42,.06);
}

body{
    font-family:"Plus Jakarta Sans",sans-serif;
    background:var(--color-background);
    color:var(--color-text);
}